body {
	font-family: 'Lato', sans-serif;
}

.jumbotron {
	background: url(../images/cloudy-day.png);
}

#submit-survey {
	margin: 10px;
}

#match-photo {
	margin: 0 auto;
}

.footer {
	padding: 12px;
	/*background: #b0e2ff;*/
}